body {
  font-family: "Times New Roman", Times, serif;
  background-color: aquamarine;
  }
  
  .container {
    max-width: 750px;
    margin: 15px;
    background-color: rgb(20, 132, 69);
    padding: 50px;
  }
  
  h1 {
    font-size: 2em;
    margin-top: 0;
    font-weight: bold;
    color:aliceblue;
   margin-left: 10px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    background-color: bisque;
    border-radius: 15px;
  }
  
  button {
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
  }
  
  .todo-item {
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .todo-item p {
    font-size: 1.2em;
  }
  
  .todo-item button {
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 4px;
  }
  
  .todo-item.completed {
    text-decoration: line-through;
  }
  
  .todo-item.important {
    color: red;
  }
  
  .todo-item.today {
    background-color: #f0f0f0;
  }
  .botao-home{
    text-transform: capitalize;
    text-decoration: none;
    padding: 0.8rem 1rem;
    color:bisque
  }
  .link-home{
    text-transform: capitalize;
    text-decoration: none;
  }
  .p1
  {
    color:bisque
  }
  .p{
    color:bisque
  }
  